
<div class="body">
    <div id="superconten">   
		 <div id="Contenedor">
                <h1>MDA </h1>
                <h2>Iniciar Sesión</h2>
                <br>
				<div class="ContentForm">
        			<form [formGroup]="form" (ngSubmit)="submit()">

						

						<div *ngIf="this.form.get('email').errors && form.get('email').dirty ">
							<small *ngIf = " form.get('email'). hasError('required') " ><h3>El email es un campo requerido</h3></small>
						</div>	

						<input type="email"
						formControlName="email"
						placeholder="Ej: usuario@epsas.com">
<!--[formControl]="emailCrl" -->


						<div *ngIf="this.form.get('password').errors && form.get('password').dirty " >
							<small *ngIf="form.get('password').hasError('required')" > <h3>Se necesita la contraseña</h3></small>
						</div>
						
						<input type="password"
						formControlName="password" 						
						placeholder="Contraseña"					
						required>
				 
							
					
						<br>
						<div class="row">
						<button 
						
						type="submit" 
						class="btn btn-primary btn-block btn-large">
						Ingresar</button>
						</div>


						<br>
						
							<h3>¿No posee una cuenta?</h3>
						
						<div class="row">
							
						<button type="button"  
						 routerLink="/registro"
						  class="btn1 btn1-primary btn1-block btn1-large">
						  Registrarse</button>
						</div>
		 			</form>
			 </div>	
		 </div>
	</div>   
</div>
