
<div class="body">
    <div id="superconten">   
		 <div id="Contenedor">
                <h1>MDA </h1>
                <h2>Iniciar Sesión</h2>
                <br>
				<div class="ContentForm">
        			<!-- <form [formGroup]="form" (ngSubmit)="submit()">

						

						<div *ngIf="this.form.get('email').errors && form.get('email').dirty ">
							<small *ngIf = " form.get('email'). hasError('required') " ><h3>El email es un campo requerido</h3></small>
						</div>	

						<input type="email"
						formControlName="email"
						placeholder="Ej: usuario@epsas.com">



						<div *ngIf="this.form.get('password').errors && form.get('password').dirty " >
							<small *ngIf="form.get('password').hasError('required')" > <h3>Se necesita la contraseña</h3></small>
						</div>
						
						<input type="password"
						formControlName="password" 						
						placeholder="Contraseña"					
						required> -->
				 

						<form [formGroup]="loginForm" (ngSubmit)="login()">
							<div class="row">
							  <div class="col-md-12">
								<div class="form-group">
								  
								  <input type="email" formControlName="email" class="form-control" placeholder="Ej: info@epsas.com.bo" required>
		  
								  <div *ngIf="email.invalid && (email.dirty || email.touched)"
									   class="form-text text-muted">
									<div *ngIf="email.errors?.required">
									  Email es requerido.
									</div>
									<div *ngIf="email.errors?.email">
									  Email no válido
									</div>
								  </div>
		  
								  <small id="emailHelp" class="form-text text-muted"> </small>
								</div>
							  </div>
							</div>

							<div class="row">
							  <div class="col-md-12">
								<div class="form-group">
								  
								  <input type="password" [type]="showPassword ? 'password': 'text'" formControlName="password" class="form-control" placeholder="Contraseña">
								  
								  <span (click)="toggleShowPassword()" class="form-control-feedback px-0 py-2"
										style="cursor: pointer; pointer-events: all;" [hidden]="!loginForm.get('password').value">
									<i class="far fa" ria-hidden="true" [ngClass]="{'fa-eye':showPassword, 'fa-eye-slash': !showPassword}"></i>
								  </span>
								</div>
								<div *ngIf="password.invalid && (password.dirty || password.touched)"
									 class="form-text text-muted">
								  <div *ngIf="password.errors?.required">
									Contraseña es requerido.
								  </div>
								</div>
							  </div>
							</div>




							
					
						<br>
						<div class="row">
						<button 
						
						type="submit" 
						class="btn btn-primary btn-block btn-large">
						Ingresar</button>
						</div>


						<br>
						
							<h3>¿No posee una cuenta?</h3>
						
						<div class="row">
							
						<button type="button"  
						 routerLink="/registro"
						  class="btn1 btn1-primary btn1-block btn1-large">
						  Registrarse</button>
						</div>
		 			</form>
			 </div>	
		 </div>
	</div>   
</div>
