

.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5;}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #19d819; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.233); color: #000000; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #ff9100; }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color:#ff9100a9; }
.btn-block { width: 100%; display:block; }


.btn1 { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5;}
.btn1:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn1-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn1:hover { color: #333333; text-decoration: none; background-color: #19d819; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn1-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(241, 237, 237, 0.233); color: #fcf7f7; }
.btn1-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn1-primary { background-color: #04343a; }
.btn1-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color:#032024; }
.btn1-block { width: 100%; display:block; }


* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; 
	-ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; margin: 0; padding: 0;}

    @media only screen and (min-width:320px) and (max-width:480px){}@media only screen and (min-device-width: 960px){
    
      }
  .body{
    background: url("/assets/img/negro_logo.png") no-repeat center ;
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
	padding: 85px;
	  background-size: cover;
        
    }




    #Contenedor{
        width: 500px;
        margin: 60px auto;
        background-color: rgba(10, 10, 10, 0.931);
            border: 1px solid #000;
        height:450px ;
        border-radius:8px;
        padding: 10px 9px 0px 9px;
    }



    .opcioncontra{
        text-align: center;
        margin-top: 20px;
        font-size: 14px;

    }


    @media only screen and (max-width:320px){
    #Contenedor{
        width: 100%;
        height: auto;
        margin: 0px;
    }


    @media only screen and (max-width:240px){
    }
    }
    h1 { color: rgb(228, 115, 23); text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center;   font-size:300% }
    h2 { color: rgb(228, 115, 23); text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center;   font-size:200% }
    h3 { color: rgb(231, 231, 231); text-shadow: 1000 300 200px rgba(0,0,0,0.3); letter-spacing:0px; text-align:lefth;   font-size:100%}
    input { 
        width: 100%; 
        margin-bottom: 30px; 
        background: rgba(0,0,0,0.3);
        background-color: rgb(2, 37, 49);
        border: none;
        outline: none;
        padding: 15px;
        font-size: 20px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(165, 164, 164, 0.3);
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .5s ease;
        -moz-transition: box-shadow .5s ease;
        -o-transition: box-shadow .5s ease;
        -ms-transition: box-shadow .5s ease;
        transition: box-shadow .5s ease;
    } 
