<div class="container">
    <h1>Municipio</h1>
    <hr>

    <div class="row">
        <label class="col-sm-8 control-label" for="singlebutton"></label>
            <div class=" row col-md-3">
                <button   type="button"  
                routerLink="/crear-municipio"  
                class="btn btn-primary btn-lg btn-block" style="background-color: #ff9100;"  >Crear Municipio </button>
            </div>
    </div>
    <br>
    <!-- <div class="table-wrapper-scroll-y my-custom-scrollbar">  -->
        <table  class="table table-striped table-hover table-responsive table-wrapper-scroll-y my-custom-scrollbar" id="racetimes">
           
                <tr id="firstrow">
                    <th scope="col">ID</th>
                    <th scope="col">COD</th>
                    <th scope="col">Nombre de Municipio</th>
                    <th scope="col">Acción</th>
                    
                </tr>

                <tr *ngFor="let row of MunicipioList.data">
                    <td>{{row.id}}</td>
                    <td>{{row.cod}}</td>
                    <td>{{row.nombre_municipio}}</td>
                
                    <td>
                        <div>
                            <a (click)="editMunicipio(row.id)"  class="btn btn-warning btn-sm">Editar</a>
                            &nbsp;
                            <a (click)="deleteMunicipio(row.id)" class="btn btn-danger btn-sm">Eliminar</a>
                        </div>
                    </td>
                </tr>
            </table>
    <!-- </div>   -->
    
</div>