<div class="jumbotron">
  <div class="container">
    <h1>Detalle Ticket</h1>
    <hr>

    <p>
     
        <div class="modal-header bg-success text-white">
          <h4 class="modal-title">Detalle Ticket</h4>
          
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <h3>{{ datosFila.tipoRequerimiento }} #{{ ticketList.numero }}</h3>
              <h4>Descripción: <br><small>{{ datosFila.descripcion }}</small></h4>
            </div>
            <div class="col-sm-6">
            
              <h4>Tipo Requerimiento: <small>{{ datosFila.tipoRequerimiento }}</small></h4>
               <h4>Estado: <small>{{ datosFila.estado }}</small></h4>
              <h4>Departamento: <small>{{ datosFila.dpto }}</small></h4>
              <!-- <h4>Sucursal: <small>{{ datosFila.sucursal }}</small></h4>  -->
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-8">
              <!-- <h4  *ngIf="tiket.estado == 'En Espera'">Ticket abierto por: </h4>
              <h4  *ngIf="tiket.estado == 'En Proceso'">Ticket procesado por: </h4>
              <h4  *ngIf="tiket.estado == 'Cerrado'">Ticket terminado por: </h4> -->
              <h4>Fecha: {{ticketList.update_at}}</h4>
              <hr>
              <h3>Solicitud</h3>
              <h4>Fecha: {{ ticketList.updatedAt  }}</h4>
            </div>
            <div class="col-sm-4">
              <!-- <button class="btn btn-success" (click)="tomarTicket(tiket.id_ticket)" *ngIf="tiket.estado == 'En Espera'">Tomar</button>
              <button class="btn btn-success" (click)="terminarTicket(tiket.id_ticket)" *ngIf="tiket.estado == 'En Proceso'">Terminar</button> -->
      
              
            </div>
          </div>
        </div>

  </div>

</div>














    
