<nav class="navbar navbar-expand-md navbar-dark sticky-top " style="background-color: #022531;" >
  
  <a class="navbar-brand" >
    <img src="assets/img/MDA naranja.svg" width="55" height="55" class="d-inline-block align-center" alt="Logo MDA">
    MDA
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="mainNavbar">
      
      <div class="navbar-nav ml-auto">
        <div class="navbar-nav">
          <a class="nav-item nav-link" [routerLink]="['soporte']">Solicitar Soporte </a>
          <a class="nav-item nav-link" [routerLink]="['listar-ticket']">Tickets </a>
          <a class="nav-item nav-link" [routerLink]="['listar-usuario']">Usuarios </a>         
          <a class="nav-item nav-link" [routerLink]="['dashboard']">Dashboard</a>
          <a class="nav-item nav-link" [routerLink]="['configuracion']">Configuración</a>
          <a class="nav-item nav-link" [routerLink]="['recibidas']">Recibidas</a>
          <a class="nav-item nav-link" [routerLink]="['perfil']">Perfil</a>
          

        </div>
      </div>
    </div>
  </nav>