<div class="container">
    <h1>Solicitar Soporte</h1>
    <hr>
        <form role="form" >
           
                <div class="row">       
                    <!-- Select Basic -->
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-from-label" for="selectbasic">Tipo de Soporte:</label>
                                <div class="col-sm-8">
                    
                                    <select id="selectbasic" Name="selectbasic" class="form-control">
                                    <option value="1">Asistencia Técnica</option>
                                    <option value="2">Mantenimiento</option>
                                    <option value="3">Instalación</option>
                                    <option value="4">Copias de Seguridad</option>
                                    <option value="5">Solicitud y Soporte</option>
                                     </select>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Select Basic -->
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-2 col-from-label" for="selectbasic">En:</label>
                                <div class="col-sm-8">
                                    <select id="selectbasic" Name="selectbasic" class="form-control">
                                        <option value="1">SAP</option>
                                        <option value="2">SAR</option>
                                        <option value="3">GENESYS</option>
                                        <option value="4">ANDROMEDA</option>
                                    </select>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                    <!-- Multiple Radios (inline) -->
                        <div class="form-group row">
                            <label class="col-sm-4 col-from-label" for="radios">Lugar:</label>
                                <div class="col-sm-8"> 
                                    <label class="radio-inline" for="radios-0">
                                         <input type="radio" name="radio1" id="radios-1" value="1" >
                                             La Paz      
                                    </label> 
                                    <label class="radio-inline" for="radios-1">
                                            <input type="radio" name="radio2" id="radios-2" value="2">
                                            El Alto
                                    </label>
                                </div>
                        </div>
                    </div>
                    
                    <!-- Select Basic -->
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group row">
                             <label class="col-sm-2 col-from-label" for="selectbasic">Sucursal:</label>
                                <div class="col-sm-8">
                                    <select id="selectbasic" Name="selectbasic" class="form-control">
                                         <option value="1">Villa Fatima</option>
                                         <option value="2">San Jorge</option>
                                         <option value="3">Batallón Colorados</option>
                                         <option value="4">Sur</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Textarea -->
                <div class="row">
                    <div class="col-xs-6 col-sm-12 col-md-12"> 
                        <div class="form-group row">
                            <label class="col-sm-2 col-from-label" for="textarea">Descripción:</label>
                                <div class="col-sm-9">                     
                                    <textarea class="form-control" id="textarea" Name="textarea"></textarea>
                                </div>
                        </div>
                    </div>        
                </div>

                    <div class="form-group row">
                        <label class="col-sm-2 control-label" for="textarea">Subir Archivo:</label>
                        <div class="col-sm-4">                     
                    <input type="file" Name="subir" />
                        </div>
                    </div>

                    
                    <!-- Button -->
                    <div class="row">
                            <label class="col-sm-9 control-label" for="singlebutton"></label>
                                <div  class="row col-md-3">
                                    <button type="submit" Name="singlebutton" class="btn btn-primary btn-lg btn-block" style="background-color: #ff9100;">Enviar</button>
                                </div>
                        </div>
                       
                
            
    </form>

    
</div>     




