<div class="jumbotron">
    <div class="container">
    <h1>Tickets</h1>
    <hr>

    <div class="row">
        <label class="col-sm-8 control-label" for="singlebutton"></label>
            <div class=" row col-md-3">
                <button   type="button"  
                routerLink="/crear-ticket"  
                class="btn btn-primary btn-lg btn-block" style="background-color: #ff9100;"  >Crear Ticket </button>
            </div>
    </div>
<br>
    <!-- <div class="table-wrapper-scroll-y my-custom-scrollbar"> -->
        <table  class="table table-striped table-hover table-responsive table-wrapper-scroll-y my-custom-scrollbar" id="racetimes">
            <tr id="firstrow">
                <th scope="col">ID</th>
                <th scope="col">Número</th>
                <th scope="col">Estado</th>
                <th scope="col">Requerimiento</th>
                <th scope="col">Descripción</th>
                <th scope="col">Departamento</th>
                <th scope="col">Fecha de Solicitud</th>
                <th scope="col">Acción</th>
               
            </tr>

            <tr *ngFor="let row of ticList">
                <td>{{row.id}}</td>
                <td>{{row.numero}}</td>
                <td>{{row.estado}}</td>
                <td>{{row.tipoRequerimiento}}</td>
                <td>{{row.descripcion}}</td>
                <td>{{row.dpto}}</td>
                <td>{{row.created_at| date: 'dd/MM/yyyy h:mm:ss a'}}</td>
                <td>
                    <div>
                        <a (click)="editTic(row.id)"  class="btn btn-warning btn-sm">Editar</a>
                        &nbsp;
                        <!-- <a (click)="deleteTic(row.id)" class="btn btn-danger btn-sm">Eliminar</a>
                        &nbsp; -->
                        <a (click)="detalleTic(row)" class="btn btn-info btn-sm">Detalle</a>
                    </div>
                </td>
            </tr>
            
            </table>
        <!-- </div> -->
    </div> 
</div>

