<div class="container">
    <h1>Configuración</h1>
    <hr>


    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-4"></label>
              <div class="col-sm-8">
                <button   type="button"  
                routerLink="/listar-categoria"  
                class="btn btn-primary btn-lg btn-block" style="background-color: #ff9100;"  >Categoría </button>
            </div>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group row">
                    <label for="nombre" class="col-form-label col-sm-4"></label>
                  <div class="col-sm-8">
                    <button   type="button"  
                    routerLink="/listar-tipo-req"  
                    class="btn btn-primary btn-lg btn-block" style="background-color: #ff9100;"  >Tipos de Requerimientos </button>
                </div>
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-4"></label>
                      <div class="col-sm-8">
                        <button   type="button"  
                        routerLink="/listar-dpto"  
                        class="btn btn-primary btn-lg btn-block" style="background-color: #ff9100;"  >Departamentos </button>
                    </div>
                      </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group row">
                            <label for="nombre" class="col-form-label col-sm-4"></label>
                            <div class="col-sm-8">
                                <button   type="button"  
                                routerLink="/listar-sucursal"  
                                class="btn btn-primary btn-lg btn-block" style="background-color: #ff9100;"  >Sucursales </button>
                            </div>
                          </div>
                     </div>
                </div>   
    
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group row">
                                <label for="nombre" class="col-form-label col-sm-4"></label>
                               <div class="col-sm-8">
                                <button   type="button"  
                                routerLink="/listar-municipio"  
                                class="btn btn-primary btn-lg btn-block" style="background-color: #ff9100;"  >Municipios </button>
                                </div>
                        </div>
                    </div>
                </div>

    
</div>