<div class="container">
    <h1>Solicitar Soporte</h1>
    <hr>


    <form  class="custom-form" [formGroup]="sopForm" (ngSubmit)="Register()"  novalidate="">
 
      
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group row">
                    <label for="cod" class="col-form-label col-sm-4">Código:</label>
                  <div class="col-sm-8">
                <input type="text"  formControlName="cod"  class="form-control" placeholder="Cod" >

                <div *ngIf="this.sopForm.get('cod').errors && sopForm.get('cod').dirty ">
                                    
                  <span *ngIf="this.sopForm.get('cod').errors?.required">
                    <font color ="red">El código no puede quedar vacío</font>
                  </span>
                  
                </div>
                  </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group row">
                    <label for="sub_categoria" class="col-form-label col-sm-4">Nombre de Requerimiento:</label>
                  <div class="col-sm-8">
                    <input type="text"  formControlName="sub_categoria"  class="form-control" placeholder="Categoría" >

                    <div *ngIf="this.sopForm.get('sub_categoria').errors && sopForm.get('sub_categoria').dirty ">
                                    
                      <span *ngIf="this.sopForm.get('sub_categoria').errors?.required">
                        <font color ="red">Requerimiento no puede quedar vacío</font>
                      </span>
                    
                    </div>

                  </div>
                </div>
            </div>


            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group row">
            <label for="id_categorias" class="col-form-label col-sm-4">Categoria:</label>
          <div class="col-sm-8">

            <select formControlName="id_categorias" class="form-control">
              <option [ngValue]="null" disabled>--SELECCIONAR--</option> 
              <option [value]="row.id" *ngFor="let row of tipoList.data">{{row.categoria}}</option>
              
            </select>

            </div>
          </div>
        </div>
            

        </div>


        <div class="row">
            <div class="update ml-auto mr-auto">
                    <button   type="submit"  class="btn btn-primary btn-lg btn-block" style="background-color: #ff9100;" (click)="Register()" >Guardar</button>
            </div>
        </div>
    
  
</form>




    
</div>
