<div class="jumbotron">
<div class="container">
    <h1>Solicitar Soporte</h1>
    <hr>


    <form  class="custom-form" [formGroup]="sopForm" (ngSubmit)="Register()"  >
 
      
      <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group row">
                  <label for="id_categoria" class="col-form-label col-sm-4">Tipo de Solicitud:</label>
                  <div class="col-sm-8">
        
                    <select  formControlName="id_categoria" class="form-control" (change)="filtroChangeCat($event)">
                      <option [value]="null" disabled>----Seleccione una opción----</option> 
                      <option [value]="row.id" *ngFor="let row of catList">{{row.categoria}}</option>
                    

                      
                    </select>
        
                    </div>
                </div>
            </div> 

            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group row">
                  <label class="col-form-label col-sm-4">Requerimiento:</label>
                  <div   class="col-sm-8">
        
                    <select formControlName="id_tiporeq" class="form-control">
                      <option [ngValue]="null" disabled>----Seleccione una opción----</option> 
                      <option [ngValue]="row.id" *ngFor="let row of tipoList">{{row.tiporeq}}</option>
                      
                    </select>
        
                    </div>
                </div>
            </div>


            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group row">
            <label for="municipio" class="col-form-label col-sm-4">Municipio:</label>
          <div class="col-sm-8">

            <select formControlName="municipio" class="form-control" (change)="filtroChange($event)">
              <option [value]="null" disabled>----Seleccione una opción----</option> 
              <option [value]="row.id" *ngFor="let row of munList">{{row.municipio}}</option>
              
            </select>

            </div>
          </div>
        </div>
            

        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group row">
                <label for="sucursal" class="col-form-label col-sm-4">Sucursal:</label>
                  <div class="col-sm-8">

                    <select formControlName="sucursal" class="form-control">
                      <option [ngValue]="null" disabled>----Seleccione una opción----</option> 
                      <option [value]="row.id" *ngFor="let row of sucList">{{row.sucursal}}</option>
                
                    </select>

                  </div>
            </div>
          </div>


          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group row">
                <label for="id_departamento" class="col-form-label col-sm-4">Departamento:</label>
                  <div class="col-sm-8">

                    <select formControlName="id_departamento" class="form-control">
                      <option [ngValue]="null" disabled>----Seleccione una opción----</option> 
                      <option [value]="row.id" *ngFor="let row of dptoList">{{row.departamento}}</option>
                
                    </select>

                  </div>
            </div>
          </div> 

      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-12 col-md-12"> 
            <div class="form-group row">
                <label class="col-sm-2 col-from-label" for="descripcion">Descripción:</label>
                    <div class="col-sm-9">                     
                        <textarea class="form-control"  formControlName="descripcion"></textarea>
                    </div>
            </div>
        </div>        
    </div>

    <div class="row">
      
      <!-- <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group row">
              <label class="col-sm-4 control-label" for="subir">Subir Archivo:</label>
                  <div class="col-sm-8">                     
                      <input type="file" Name="subir" />
                  </div>
          </div>
      </div> -->

          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group row">
                <label for="interno" class="col-form-label col-sm-4">Interno:</label>
                    <div class="col-sm-8">
                        <input type="text" formControlName="interno"  class="form-control" placeholder="Interno" > 
                    </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="form-group row">
              <label for="id_user" class="col-form-label col-sm-4"  >Usuario:</label>
                  <div class="col-sm-8">
                      <input  type="text" formControlName="id_user"  class="form-control" placeholder="Usuario" > 
                  </div>
          </div>
      </div>

    </div>



        <div class="row">
            <div class="update ml-auto mr-auto">
                    <button   type="submit"  class="btn btn-primary btn-lg btn-block" style="background-color: #ff9100;" (click)="Register()" >Enviar</button>
            </div>
        </div>
    
  
</form>




    
</div>
</div>