
<div class="sidebar-wrapper"><!--imgsidebar-->
    <div class="logo">
  <!--    <a class="simple-text logo-normal">-->
        <div class="logo-image-small">
          <img src="assets/img/MDA naranja.svg" width="55" height="55" class="d-inline-block align-center" alt="Logo MDA">
          <label class="text-center">{{usuario.nombre===null?'':usuario.nombre}} {{usuario.ap_paterno===null?'':usuario.ap_paterno}} {{usuario.ap_materno===null?'':usuario.ap_materno}}
            ({{rol}})</label>
        </div>
  <!--    </a>-->
  <!--    <a href="#" class="simple-text logo-normal">-->
  <!--      EPSAS-->
  <!--    </a>-->
    </div>
      <ul class="nav">
          <!-- <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
              <a [routerLink]="[menuItem.path]">
                  <i class="nc-icon {{menuItem.icon}}"></i>
                  <p>{{menuItem.title}}</p>
              </a>
          </li> -->
  
          <li *ngFor="let menuItem of menuItems; let i = index" routerLinkActive="active" class="{{menuItem.class}}">
            <a *ngIf="menuItem.childMenu" data-toggle="collapse" href="#dashboardOverview{{i}}" aria-expanded="false" class="collapsed">
                <i class="nc-icon nc-bank"></i>
                <p>{{menuItem.title}}
                      <b class="caret"></b>
                  </p>
            </a>
            <a *ngIf="!menuItem.childMenu" [routerLink]="[menuItem.path]">
              <i class="nc-icon {{menuItem.icon}}"></i>
              <p>{{menuItem.title}}</p>
            </a>
  
          <div *ngIf="menuItem.childMenu" class="collapse" id="dashboardOverview{{i}}" aria-expanded="false" style="height: 0px;">
            <ul class="nav">
              <li *ngFor="let menu of menuItem.childMenu" routerLinkActive="active" class="{{menu.class}}">
                <a [routerLink]="[menu.path]">
                    <i class="nc-icon {{menu.icon}}"></i>
                    <p>{{menu.title}}</p>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li routerLinkActive="active" style="cursor: pointer; color:lavenderblush">
              <a (click)="logout()">
                  <i class="nc-icon nc-button-power"></i>
                  <p>Cerrar Sesión</p>
              </a>
          </li>
      </ul>
  </div>
  
