
<!-- <div class="sidebar-wrapper" style="background-color: #022531;">
    <div class="logo">
  
        
        <div class="logo-image-small">
          <img src="assets/img/MDA naranja.svg" width="55" height="55" class="d-inline-block align-center" alt="Logo MDA">
        
     
          <label class="text-center">{{usuario.nombre===null?'':usuario.nombre}} {{usuario.ap_paterno===null?'':usuario.ap_paterno}} {{usuario.ap_materno===null?'':usuario.ap_materno}}
            ({{rol}})</label>

            

        </div>

    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
                aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      
      <div class="navbar-nav ml-auto">
        <div class="navbar-nav"> -->




 <nav class="navbar navbar-expand-md navbar-dark sticky-top " style="background-color: #022531;" >
  
           <a class="navbar-brand" >
              <img src="assets/img/MDA naranja.svg" width="55" height="55" class="d-inline-block align-center" alt="Logo MDA">
              <font color="white">MDA</font>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
    <div class="collapse navbar-collapse" id="mainNavbar">
                
      <div class="navbar-nav ml-auto">
          <div class="navbar-nav">




          <ul class="navbar-nav ml-auto">
                    
              <li *ngFor="let menuItem of menuItems; let i = index" routerLinkActive="active" class="{{menuItem.class}}">
                <a *ngIf="menuItem.childMenu" data-toggle="collapse" href="#dashboardOverview{{i}}" aria-expanded="false" class="collapsed">
                    <i class="nc-icon nc-bank"></i>
                    <p>{{menuItem.title}}
                          <b class="caret"></b>
                      </p>
                </a>
                <a *ngIf="!menuItem.childMenu" [routerLink]="[menuItem.path]">
                  <i class="nc-icon {{menuItem.icon}}"></i>
                  <p>{{menuItem.title}}</p>
                </a>
      
              <div *ngIf="menuItem.childMenu" class="collapse" id="dashboardOverview{{i}}" aria-expanded="false" style="height: 0px;">
                <ul class="nav">
                  <li *ngFor="let menu of menuItem.childMenu" routerLinkActive="active" class="{{menu.class}}">
                    <a [routerLink]="[menu.path]">
                        <i class="nc-icon {{menu.icon}}"></i>
                        <p>{{menu.title}}</p>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li routerLinkActive="active" style="cursor: pointer; color:lavenderblush">
                  <a (click)="logout()">
                      <i class="nc-icon nc-button-power"></i>
                      <p>Cerrar Sesión</p>
                  </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  
